<div class="layout-shell">
  <!-- SIDEBAR -->
  <aside class="sidebar">
    <div class="sidebar-header">
      <img [src]="logoPath" class="app-logo" alt="KeyPing logo" />
      <span class="app-name">KeyPing</span>
    </div>

    <nav class="sidebar-nav">
      <!-- <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item"> -->
      <a class="nav-item disabled">
        <span class="nav-icon">🏠</span>
        <span>Dashboard</span>
      </a>

      <a routerLink="/passwords" routerLinkActive="active" class="nav-item">
        <div class="nav-main">
          <span class="nav-icon">🔐</span>
          <span>Passwords</span>
        </div>

        <span class="nav-badge" *ngIf="passwordCount !== null">
          {{ passwordCount }}
        </span>
      </a>

      <a class="nav-item disabled">
        <span class="nav-icon">📁</span>
        <span>Folders</span>
      </a>

      <a class="nav-item disabled">
        <span class="nav-icon">🛡️</span>
        <span>Data Breach Check</span>
      </a>

      <a class="nav-item disabled">
        <span class="nav-icon">❤️</span>
        <span>Password Health</span>
      </a>

      <a class="nav-item disabled">
        <span class="nav-icon">⚙️</span>
        <span>Settings</span>
      </a>
    </nav>
  </aside>

  <!-- CONTENIDO DINÁMICO -->
  <main class="main">
    <router-outlet></router-outlet>
  </main>
</div>
