<div #generatorWrapper class="generator-wrapper">
  <a
    class="nav-item"
    href="#"
    (click)="$event.preventDefault()"
    (mouseenter)="onGeneratorButtonEnter()"
    (mouseleave)="onGeneratorButtonLeave()"
  >
    <span class="nav-icon">🔑</span>
    <span>Generator</span>
  </a>

  <div
    class="generator-panel"
    *ngIf="showGenerator"
    [ngStyle]="{ left: genPosX + 'px', top: genPosY + 'px' }"
    (mouseenter)="onPanelEnter()"
    (mouseleave)="onPanelLeave()"
    #generatorPanel
  >
    <div class="drag-handle" (mousedown)="onDragStart($event)" title="Mover panel">
      ⋮⋮
    </div>
    <button
      class="pin-btn"
      [class.pinned]="generatorPinned"
      (click)="togglePin($event)"
      title="Pin"
    >
      📌
    </button>
    <div class="gen-title">Password generator</div>

    <div class="gen-row length">
      <label>Length: <strong>{{ genLength }}</strong></label>
      <input
        type="range"
        min="8"
        max="40"
        [(ngModel)]="genLength"
        (input)="onLengthChange()"
      />
    </div>

    <div class="gen-row toggles">
      <label title="Include A-Z">
        <input type="checkbox" [(ngModel)]="useUpper" (change)="onOptionChange()" />
        Uppercase
      </label>
      <label title="Include a-z">
        <input type="checkbox" [(ngModel)]="useLower" (change)="onOptionChange()" />
        Lowercase
      </label>
      <label title="Include 0-9">
        <input type="checkbox" [(ngModel)]="useNumbers" (change)="onOptionChange()" />
        Numbers
      </label>
      <label title="Include !@#$ etc">
        <input type="checkbox" [(ngModel)]="useSymbols" (change)="onOptionChange()" />
        Symbols
      </label>
    </div>

    <div class="gen-output">
      <span class="gen-password">{{ generatedPassword }}</span>
      <div class="gen-actions">
        <button class="btn ghost small" (click)="refreshGenerated($event)">Refresh</button>
        <button class="btn primary small" (click)="copyGenerated($event)">
          <ng-container *ngIf="!copyFeedback; else copied">Copiar</ng-container>
          <ng-template #copied>Copiado ✓</ng-template>
        </button>
      </div>
    </div>
  </div>
</div>
